
.primaryTitle {
    color: brown;
    font-size: 30px;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: 250px;
}

.navbar-custom {
    background-color: #85655F;
    color: white;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description p {
    margin-top: 10px;
}

